<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eg.airadmindemo.mapper.TicketInfoMapper">
    <resultMap id="TicketInfoMap" type="TicketInfo">
        <id column="ticket_id" property="ticketId"/>
        <result column="flight_no" property="flightNo"/>
        <result column="`start`" property="start"/>
        <result column="starttime" property="startTime"/>
        <result column="endtime" property="endTime"/>
        <result column="`end`" property="end"/>
        <result column="price" property="price"/>
        <result column="`name`" property="name"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="selTicInf" resultMap="TicketInfoMap">
        select ti.ticket_id,fli.flight_no,fli.`start`,fli.starttime,fli.endtime,fli.`end`,fli.price,ta.`name`,ta.phone,ti.create_time
        from um_user u INNER JOIN ts_ticket_user tu
        on u.user_id=tu.user_id
        inner join ts_ticket ti
        on tu.ticket_id=ti.ticket_id
        inner join ts_flight_ticket ft
        on ft.ticket_id=ti.ticket_id
        inner join ts_flight fli
        on ft.flight_id=fli.ticket_id
        INNER JOIN ts_ticket_takepersion tt
        on ti.ticket_id=tt.ticket_id
        INNER JOIN ts_takeperson ta
        on tt.takeperson_id=ta.takeperson_id
        where u.username=#{0}
    </select>
</mapper>