<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eg.airadmindemo.mapper.TsFlightTicketMapper">
    <insert id="insFliTic">
        insert into ts_flight_ticket values(default,#{1},#{0})
    </insert>

    <delete id="delFliTic">
        delete from ts_flight_ticket where ticket_id=#{0}
    </delete>

    <select id="selFliIdForTicId" resultType="int">
        select flight_id from ts_flight_ticket where ticket_id=#{0}
    </select>
</mapper>