<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eg.airadmindemo.mapper.TsTakepersonMapper">
    <resultMap id="takePersonMap" type="tsTakeperson">
        <id column="takeperson_id" property="takepersonId"/>
        <result column="name" property="name"/>
        <result column="id_number" property="idNumber"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <insert id="insTak">
        insert into ts_takeperson
        values(default,#{0},#{1},#{2})
    </insert>

    <select id="selTakId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="selTakById" resultMap="takePersonMap">
        select *
        from ts_takeperson
        where id_number=#{0}
    </select>
</mapper>