<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eg.airadmindemo.mapper.UmUserMapper">
	<resultMap id="UserMap" type="umUser">
		<id column="user_id" property="userId"/>
		<result column="userName" property="userName"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="sex" property="sex"/>
		<result column="nickname" property="nickname"/>
		<result column="address" property="address"/>
		<result column="birth" property="birth"/>
		<result column="email" property="email"/>
	</resultMap>
	<select id="selByUser" resultMap="UserMap">
		select *
		from um_user
		where username=#{username}
	</select>
	<update id="editPassword" >
		update um_user
		set password=#{1},salt=#{2}
		where username=#{0}
	</update>
</mapper>